@import "tailwindcss";

@theme {
  --color-vivid-blue: #2323fd;
  --color-dark-gray: rgb(88, 88, 88);
  --color-light-blue: rgb(218, 233, 253);
  --color-mint-green: #b9eedf;
}

@layer base {
  svg {
    @apply size-5;
  }
}
